html {
    font-size: calc(100vw/1440 * 10);
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    font-size: 3rem;
    line-height: 4.5rem;
}