html {
    font-size: calc(100vw/1499 * 10);
}
@media screen and (max-width: 1023) {
    html {
        font-size: calc(100vw/1023 * 10);
    }
}
@media screen and (max-width: 650) {
    html {
        font-size: calc(100vw/650 * 10);
    }
}
@media screen and (max-width: 485) {
    html {
        font-size: calc(100vw/485 * 10);
    }
}

body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    color: #fff;
    height: auto;
}
body::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: Euclid;
    src: url('fonts/EuclidA/Euclid\ Circular\ A\ Regular.ttf');
}
@font-face {
    font-family: Proxima;
    src: url('fonts/Proxima/Rene\ Bieder\ \ Milliard\ Book.otf');
}
* {
    box-sizing: border-box;
}

#header {
    padding: 2rem 10rem;
}
#mob-header {
    display: none;
}
.header-row {
    position: relative;
}
.nav-logo {
    flex: 1 1 20%;
}
.nav-logo-img {
    padding-bottom: 1rem;
}
.header-nav {
    flex: 1 1 75%;
}
.inner-nav-list {
    margin: 0 0.8rem;
    padding: 2rem 0.2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}
.inner-btn {
    padding: 0.4rem 0.2rem;
}
.nav-link {
    color: #16054e;
    font-family: Euclid;
    font-weight: 400;
}
.nav-link-btn {
    background-color: #8d6cfa;
    border-radius: 5rem;
    padding: 1.6rem 4rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 600;
    font-family: Euclid;
}


.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
a {
    text-decoration: none;
}
.white {
    color: #fff;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.flex-justify {
    justify-content: center;
}
.flex-around {
    justify-content: space-around;
}
.flex-between {
    justify-content: space-between;
}
.flex-center {
    align-items: center;
}
.flex-end {
    align-items: flex-end;
}
.padding-0 {
    padding: 0;
}
.margin-0 {
    margin: 0;
}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.align-center {
    justify-content: center;
    align-items: center;
}
li, ul {
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}


.margin-top {
    margin-top: 8rem;
}
.outer-padding {
    padding: 0 10rem;
}
.hero-intro {
    flex: 0 1 50%;
}
.hero-intro-padding {
    margin-right: 7.5rem;
}
.hero-h {
    font-family: Proxima;
    font-weight: 700;
    font-style: normal;
    font-size: 4.8rem;
    line-height: 6.4rem;
    letter-spacing: 0.02em;
    color: #16054e;
    max-width: 44.4rem;
}
.hero-color {
    color: #8d6cfa;
}
.hero-p {
    font-family: Euclid;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    color: #8B82A7;
    padding: 2.4rem 0 5.6rem;
}
.hero-btn input {
    border: 1px solid #ded7f6;
    border-radius: 0.8rem;
    width: 40.3rem;
    height: 5.6rem;
    padding: 1.6rem 0px 1.6rem 2.4rem;
    font-family: Euclid;
    font-weight: 400;
}
.hero-submit-btn {
    font-family: Euclid;
    font-weight: 600;
    margin: 0 1rem;
    height: 5.6rem;
    padding: 1.6rem 4rem;
}
.hero-img {
    position: absolute;
    top: 13.6rem;
}
.hero-image1 {
    position: relative;
}
.hero-image2 {
    position: absolute;
    top: 3rem;
    right: -1rem;
}


.core-h {
    font-family: Euclid;
    font-weight: 700;
    font-style: normal;
    font-size: 4.8rem;
    line-height: 7.2rem;
    color: #16054e;
    padding-bottom: 8rem;
}
.core-horizontal-card {
    position: relative;
    border: 1px solid #9070f6;
    background: #9070f6;
    border-radius: 2.4rem;
    height: 48.8rem;
    margin-bottom: 4rem;
}
.core-card-text-container {
    margin: 14rem 0;
    padding: 0 5.6rem;
}
.horizontal-card-h {
    margin: 0 0 2.4rem;
    font-size: 4.8rem;
    line-height: 6.4rem;
    font-weight: bold;
    font-family: Euclid;
}
.horizontal-card-p {
    font-size: 2.4rem;
    line-height: 4rem;
    font-family: Euclid;
}
.core-card-img-container {
    position: absolute;
    top: 2.5rem;
    right: 5.3rem;
    bottom: -3.6rem;
    left: 62.1rem;
}
.core-card-img1 {
    position: absolute;
    top: 4.5rem;
    right: 15.3rem;
    bottom: 3.6rem;
    left: 71.3rem;
}
.core-card-img2 {
    position: absolute;
    top: 5.8rem;
    right: 31.4rem;
    bottom: 34.2rem;
    left: 62.1rem;
}
.core-card-img3 {
    position: absolute;
    top: 25.7rem;
    right: 23.4rem;
    bottom: 2.711rem;
    left: 76.4rem;
}
.core-vertical-card1 {
    width: 60rem;
    height: 70rem;
    border: 1px solid #fff;
    border-radius: 2.4rem;
    background: #fff;
    margin-right: 4rem;
}
.core-vertical-card2 {
    width: 60rem;
    height: 70rem;
    border: 1px solid #4ecc4e;
    border-radius: 2.4rem;
    background: #4ecc4e;
}
.card-content-padding {
    padding-top: 5.6rem;
    padding-left: 5.6rem;
}
.vertical-card-h1 {
    margin: 0 0 2rem;
    color: #16054e;
}
.vertical-card-p1 {
    margin: 0 0 2.5rem;
    padding-right: 7.1rem;
    color: #8B82A7;
}
.vertical-card-h2 {
    margin: 0 0 1.6rem;
    padding-top: 0.4rem;
}
.vertical-card-p2 {
    margin: 0 0 2.2rem;
    padding-right: 7.1rem;
}
.card-img-padding1 {
    padding: 0 4rem;
}


.partner-container {
    margin-bottom: 3.2rem;
}
.img-container {
    border: 1px solid #fff;
    background: white;
    border-radius: 2px;
    width: 22.9rem;
    height: 8.6rem;
    margin-right: 3.1rem;
}
.move-left {
    width: 8.1rem;
    padding: 2.3rem 1rem;
}
.andela {
    padding: 2.3rem 4.6rem;
}
.wiflix {
    padding: 2.3rem 5.4rem;
}
.flutterwave {
    padding: 2.7rem 3.2rem;
}
.paystack {
    padding: 2.9rem 3.6rem;
}
.sokowatch {
    padding: 2.9rem 2.3rem;
}
.move-right {
    width: 2.6rem;
    margin-right: 0;
}
.move-left1 {
    width: 21.1rem;
    padding: 2.3rem 3.1rem;
}
.wave {
    padding: 1.5rem 6.5rem;
}
.sasol {
    padding: 2.3rem 6.4rem;
}
.kobo {
    padding: 1.5rem 7.5rem;
}
.naspers {
    padding: 2.3rem 3.5rem;
}
.move-right1 {
    width: 15.6rem;
    margin-right: 0;
    padding: 1.5rem 0 1.5rem 6rem;
}

.h-box-size {
    padding: 0 20vw;
    font-family: Euclid;
}
.invest-card-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.33% - 12px);
}
.invest-card-margin {
    margin-bottom: 15rem;
}
.access, .firna {
    margin-right: 0.4rem;
}
.invest-card {
    position: relative;
    width: 36rem;
    height: 34.7rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    background: #fff;
    padding: 2.5rem 3.2rem;
}
.firna-logo, .access-logo, .diligent-logo {
    position: absolute;
    top: -7.5rem;
    right: 10.5rem;
    bottom: 27.2rem;
    left: 10.5rem;
}
.access-logo {
    padding-bottom: 2.4rem;
}
.invest-card-h {
    font-family: Euclid;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 4rem;
    color: #16054e;
    margin-top: 7rem;
}
.invest-card-p {
    font-family: Euclid;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #8B82A7;
}


.outer-padding-bg {
    background: #060125;
}
.investment-h {
    font-family: Euclid;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 9.6rem;
    max-width: 60rem;
}
.investment-p {
    line-height: 3.6rem;
}
.investment-intro-padding {
    margin-right: 5.6rem;
    padding: 18.4rem 0;
}
.investment-img-padding {
    padding-top: 16.2rem;
}


.more-h {
    margin-bottom: 0px;
}
.more-p {
    font-family: Euclid;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 4rem;
    color: #8B82A7;
}
.more-content-container {
    margin-top: 6rem;
}
.community-card-container {
    margin-bottom: 10rem;
}
.community-card-padding {
    padding: 20.5rem 0;
}
.updated-card-padding {
    padding: 22rem 0;
}
.more-card-img {
    margin-right: 9rem;
}
.more-card-h {
    font-family: Euclid;
    font-weight: 700;
    font-size: 4rem;
    line-height: 6rem;
    color: #16054e;
}
.more-card-p {
    font-weight: 400;
    max-width: 58rem;
}

.invest-now-bg {
    background: #eaf9ea;
    padding-bottom: 9.2rem;
}
.invest-now-color {
    color: #4ecc4e;
}
.invest-now-h-container {
    padding: 18rem 0 8rem;
}
.invest-now-h {
    font-weight: 500;
    color: #16054e;
    max-width: 73rem;
}
.invest-now-card {
    width: 600px;
    height: 400px;
    border-radius: 24px;
}
.invest-now-card-bg1 {
    background: linear-gradient(0deg, rgba(6, 1, 37, 0.25), rgba(6, 1, 37, 0.25)); 
    background-image: url("img/landingPage/booming.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 60rem;
    height: 40rem;
}
.invest-now-card-bg2 {
    background: linear-gradient(0deg, rgba(6, 1, 37, 0.25), rgba(6, 1, 37, 0.25)); 
    background-image: url("img/landingPage/rapid.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 60rem;
    height: 40rem;
}
.booming, .rapid {
    position: relative;
}
.invest-now-card-img {
    position: absolute;
    top: 8.33%;
    right: 3.83%;
    bottom: 8.33%;
}
.booming {
    margin-right: 4rem;
}
.invest-now-card-h {
    font-family: Euclid;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    padding: 12.3rem 0 12.3rem 4rem;
    max-width: 35rem;
}
.circle-container {
    margin-top: 8rem;
    padding: 0 60rem;
}
.circle {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.6rem;
    border-radius: 50%;
    background: #4ecc4e;
}


.ebook-h {
    font-size: 4.8rem;
    line-height: 7.2rem;
    font-family: Euclid;
    max-width: 62rem;
    color: #16054e;
}
.ebook-p {
    margin: 1.6rem 0 4rem;
    max-width: 47rem;
    color: #8B82A7;
}
.ebook-intro-padding {
    padding: 34.5rem 0 31.8rem;
    margin-right: 6.3rem;
}
.ebook-btn {
    width: 20.3rem;
}
.ebook-img-padding {
    padding: 20rem 0 15rem;
}


.market-bg  {
    background-image: url("img/landingPage/markets.png");
    background-repeat: no-repeat;
}
.market-content-padding {
    padding: 30.4rem 26.9rem;
}
.market-h {
    font-family: Euclid;
    font-weight: 700;
    font-style: normal;
    font-size: 4.8rem;
    line-height: 7.2rem;
    padding-bottom: 4rem;
    max-width: 70rem;
}


.future-outer-padding {
    padding-bottom: 5.6rem;
}
.future-intro-padding {
    margin-right: 8rem;
}
.future-h {
    font-size: 4.8rem;
    line-height: 7.2rem;
    max-width: 56rem;
}
.future-btn input {
    width: 36.1rem;
}
.future-img-padding {
    padding-top: 17rem;
}


.footer-logo {
    padding: 4.8rem 0;
}
.footer-nav {
    margin: 0 3rem;
    padding-left: 9rem;
}
.footer-text {
    font-family: Euclid;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.56rem;
    margin-right: 23.3rem;
}
.footer-icons {
    padding-left: 6rem;
}
.footer-icon-link {
    margin-right: 2.5rem;
    color: #fff;
}
.horizontal-card-img {
    width: 95%;
}







@media (min-width: 1900px) and (max-width: 2560px) {
    .hero-image1, .hero-image2 {
        width: 185%;
        max-width: none;
    }
    .hero-image2 {
        top: 1.5rem;
        right: -23rem;
    }
    .horizontal-card-img {
        width: 95%;
        max-width: none;
    }
    .vertical-card-img1, .vertical-card-img2 {
        max-width: none;
        width: 100%;
    }
    .invest-card-h {
        font-size: 2rem;
    }
    .access-logo, .firna-logo, .diligent-logo {
        width: 40%;
    }
    .investment-h {
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
    }
    .investment-img, .more-img, .future-img {
        width: 100%;
        max-width: none;
    }
    .ebook-img {
        width: 70%;
        max-width: none;
    }
    .rapid {
        margin-left: 55rem;
    }
    .invest-now-card-h {
        padding: 4rem 0 4rem 2rem;
    }
    .market-bg {
        background-size: cover;
    }
    .ebook-img-padding {
        align-items: flex-end;
        align-content: flex-end;
        justify-content: flex-end;
    }
    .footer-icon-link {
        color: #16054e;
    }
}


@media (max-width: 1024px) {
    .core-card-img-container {
        top: 0;
    }
    #hero-section {
        margin-bottom: 20rem;
    }
    .hero-img {
        top: 6.6rem;
    }
    .core-h {
        padding-bottom: 4rem;
    }
    .access-logo, .firna-logo, .diligent-logo {
        top: -14rem;
        left: 7.5rem;
    }
}


@media (max-width: 900px) {
    #header {
        display: none;
    }
    #mob-header {
        display: block;
        padding: 2rem 10rem;
    }
    .mob-header {
        padding: 2.5rem 1rem;
        position: relative;
    }
    .hamburger {
        flex: 1 1 10%;
        display: block;
        margin-right: 1rem;
        max-width: 3rem;
        max-height: 3rem;
        border: 0;
        background: 0;
    }
    .nav-logo {
        flex: 1 1 10%;
    }
    .mob-nav {
        position: absolute;
        padding-top: 3rem;
        opacity: 0;
        background: #d1cdcd;
        transform: translateX(-100%);
        transition: all .9s ease-in-out;
    }
    .mob-inner-nav-list {
        margin: 2.4rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
    .mob-nav-link {
        display: inline-block;
        padding: 1.2rem 0;
        margin-left: 2.2rem;
    }
    .closeIcon {
        display: none;
    }
    .hero-img {
        top: 12.6rem;
    }
    .showMenu {
        left: 0;
        opacity: 1;
        z-index: 100;
        transform: translateX(0);
    }
    .access-logo, .firna-logo, .diligent-logo {
        top: -17rem;
        left: 5.5rem;
    }
}


@media (max-width: 768px) {
    .invest-card-margin {
        margin-bottom: 20rem;
    }
    .invest-card img {
        width: 50%;
    }
    .access-logo, .firna-logo, .diligent-logo {
        top: -10rem;
        left: 8.5rem;
    }
    #footer {
        display: none;
    }
}

@media (max-width: 650px) {
    .invest-card {
        width: 76rem;
        height: 84.7rem;
    }
    .invest-card img {
        width: 60%;
    }
    .invest-card-h {
        font-size: 4rem;
        line-height: 6rem;
        margin-top: 30rem;
        padding-top: 5rem;
    }
    .invest-card-p {
        font-size: 3.2rem;
        line-height: 4.8rem;
    }
    .access-logo, .firna-logo, .diligent-logo {
        top: -14rem;
        left: 14.5rem;
    }
    .invest-now-card-container {
        flex-wrap: wrap;
    }
    .invest-now-card-img {
        width: 15%;
    }
    .booming, .rapid {
        margin: 0 32rem;
    }
    .rapid {
        margin-top: 6rem;
    }
    .access, .firna, .diligent {
        margin: 3rem 26rem 20rem;
    }
}


@media (max-width: 500px) {
    .hero-submit-btn {
        margin: 0 2rem;
    }
    .nav-link-btn {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
    input::-webkit-input-placeholder {
        font-size: 2.5rem;
        line-height: 4rem;
    }
    .invest-card-container {
        padding-bottom: 7rem;
    }
    .market-bg {
        background-size: cover;
    }
}


@media (max-width: 475px) {
    #core {
        margin-bottom: 15rem;
    }
    #partners {
        display: none;
    }
    .hero-img {
        top: 19.6rem;
    }
}
